/* THis is an exmaple styleshset */

h1,
h2,
h3,
h4 {
    font-family: "OpenSans-Semibold", sans-serif;
}

body {
    font-family: "OpenSans-Light", sans-serif;
}

a {
    color: #FFB302;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #FF9A00;
    text-decoration: underline;
}

strong {
    font-family: "OpenSans-Bold", sans-serif;
}

#grand-cherokee-section {
    background: rgb(0, 0, 0);
    height: 775px;
}

#grand-cherokee-terms-and-conditions {
    font-family: Arial;
    font-size: 10px;
}

#features-section {
    background: rgb(223, 223, 223);
    height: 775px;
}

#services-section {
    background: yellow;
    height: 450px
}

.yellow-background {
    background: rgb(255, 183, 2);
}

.yellow-text {
    color: rgb(255, 183, 2);
}

.dark-grey-text {
    color: rgb(70, 70, 70);
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}
